@page "/"
@using FutureWave.Web.SharedServices
@inherits DashboardBase
@inject IProductService ProductService



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

<Header></Header>


<!-- Main Layout -->
<div class="container-fluid">

    <div class="row mt-5">
        <!-- Sidebar -->
        <div class="col-md-2 vh-100 p-3 position-fixed d-flex flex-column justify-content-between " style="background-color:lightgrey;">

            <ul class="nav flex-column">
                <li class="nav-item mb-1">
                    <NavLink class="nav-link text-black btn btn-outline-secondary" href="/Dashboard" Match="NavLinkMatch.All">Dashboard</NavLink>
                </li>
                <li class="nav-item mb-1">
                    <NavLink class="nav-link text-black btn btn-outline-secondary" href="/user">User Management</NavLink>
                </li>
                <li class="nav-item mb-1">
                    <NavLink class="nav-link text-black btn btn-outline-secondary" href="/store">Store Management</NavLink>
                </li>
                <li class="nav-item mb-1">
                    <NavLink class="nav-link text-black btn btn-outline-secondary" href="/Price Management">Price Management</NavLink>
                </li>
            </ul>


            <div>
                <NavLink class="btn btn-outline-danger w-100 mb-5" href="/logout">Logout</NavLink>
            </div>

        </div>

        <!-- Main Content -->
        <div class="col-md-10 offset-md-2 p-4 mt-5">

            <div class="card p-2">
                <div class="row text-center">
                    <div class="col-9 d-flex">
                        <div class="d-inline-flex justify-content-center align-items-center bg-light text-black rounded-circle me-1" style="width: 40px; height: 40px;">
                            <i class="bi bi-list-ul"></i>
                        </div>

                        <div class="d-inline-flex justify-content-center align-items-center">
                            <h5>Product List</h5>
                        </div>


                    </div>

                    <div class="col-3 d-flex">

                        <div class="d-inline-flex justify-content-center align-items-center me-1">
                            <h5>Samson Mumba</h5>
                        </div>

                        <div class="d-inline-flex justify-content-center">
                            <img src="/images/pmb2.jpg" class="rounded-circle mb-3" alt="Profile Photo" style="width:30px; height: auto;">
                        </div>
                    </div>
                                    
                </div>

            </div>

            <div class="card mb-1 mt-1 p-3">
                <div class="row">
                    <!-- Left Section -->
                    <div class="col-6 d-flex">
                        <div class="d-flex gap-2">
                            <button class="btn btn-primary d-inline-block" onclick="window.location.href='/AddProduct'">+ Add</button>


                            <div class="dropdown">

                                <button class="btn btn-primary dropdown-toggle d-inline-block" type="button" data-bs-toggle="dropdown">
                                    Item
                                </button>
                                @if (SelectedProduct is not null)
                                {
                                    <button class="btn btn-link text-decoration-none text-dark d-inline-block"> @SelectedProduct <i class="bi bi-trash text-danger" @onclick="ClearSelection"></i></button>
                                }
                                <ul class="dropdown-menu">
                                    @if (FilteredProduct is not null)
                                    {

                                        @foreach (var item in products)
                                        {
                                            <li><a class="dropdown-item table-hover" href="#" @onclick="() => SelectedItem(item.Name)">@item.Name</a></li>
                                        }
                                    } 
                                    else 
                                    {
                                        <p>Loading ...</p>
                                    }
                                </ul>   
                            </div>
                        </div>      
                    </div>

                    <!-- Midle Section. i will modify it-->
                    <div class="col-6 d-flex">                                      
                        <div class="    d-flex gap-2">
                            <div class="dropdown">

                                <!--check if not null-->
                                @if (SelectedPriceRange is not 0)
                                {
                                    <button class="btn btn-link text-decoration-none text-dark d-inline-block"> @SelectedPriceRange <i class="bi bi-trash text-danger" @onclick="ClearPriceSelection"></i></button>
                                }

                                <button class="btn btn-primary dropdown-toggle d-inline-block" type="button" data-bs-toggle="dropdown">
                                    Price Range
                                </button>
                             

                                <ul class="dropdown-menu w-auto">
                                    @if (FilteredProduct is not null)
                                    {
                                        @foreach (var productPrice in products)
                                        {
                                            <li><a class="dropdown-item" href="#" @onclick="() => SelectedRange(productPrice.Price)"><p class="d-inline-block">Below: </p> <strong>K @productPrice.Price</strong></a></li>
                                        }
                                    }
                                    else
                                    {
                                        <p>Loading ...</p>
                                    }

                                </ul>
                            </div>
                              
                            

                                <form>
                                    <div class="d-flex" role="search">
                                        <input class="form-control me-1" type="text" placeholder="Searcch" @oninput="HandleInput" />
                                        <button class="btn btn-outline-success" type="submit">Search</button>
                                    </div>
                                </form>

                           
                            
                        
                        </div>
                    </div>
                </div>
            </div>


            <div class="d-flex justify-content-center align-items-center table-responsive">
                @if (FilteredProduct == null)
                {
                    <h3>Loading ...</h3>
                }
                else
                {

                    <table class="table table-striped table-hover table-bordered mt-0">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Price ( K )</th>
                                <th>Quantity</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var product in FilteredProduct)
                            {
                                <tr>
                                    <td>
                                        <img src="@ProductService.GetImageSrc(product.Image)"
                                             alt="@product.Name"
                                             style="width: 75px; height: auto;" />
                                    </td>
                                    <td>@product.Name</td>
                                    <td> K @product.Price</td>
                                    <td>@product.Qty</td>
                                    <td>

                                        <button class="btn btn-link text-primary" @onclick="() => EditAsync(product)">
                                            <i class="bi bi-pen"></i> Edit
                                        </button>


                                        <button class="btn btn-link text-danger ms-2" @onclick="() => DeleteAsync(product.Id)">
                                            <i class="bi bi-trash"></i> Del
                                        </button>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                }
            </div>
          
        </div>

     
      
    </div>
</div>
